@import "../../scssVariables.scss";

.nav_link {
  color: $black-color;
  text-decoration: none;
  border-bottom: 5px solid transparent;

  width: fit-content;
  font-size: 18px;
  font-weight: 500;
  &.active {
    border-bottom: 5px solid $hilight-color;
  }
}
