@import "../../scssVariables.scss";

.navbar_outside_wrapper {
  position: sticky;
  top: 0;
  background-color: #f0f9f9;
  z-index: 999;

  .navbar_wrapper {
    margin: $app-margin;
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .navbar_header {
      font-family: "Spectral";
      font-size: 50px;
      color: $hilight-color;
      z-index: 999;
    }

    .navbar_right_wrapper {
      display: flex;
      align-items: center;
      gap: 20px;

      .recipe_dropdown_wrapper {
        position: relative;
        cursor: pointer;
        .recipe_navLink_wrapper {
          display: flex;
          align-items: center;

          .arrowDown_icon {
            width: 25px;
            height: 25px;
          }
          h3 {
            font-size: 18px;
            font-weight: 500;
            width: fit-content;
          }
        }

        &:hover {
          .dropdown_links_wrapper {
            transition: 400ms ease;
            top: 100%;
            opacity: 1;
            pointer-events: visible;
          }
        }
        .dropdown_links_wrapper {
          position: absolute;
          display: block;
          width: 220px;
          text-decoration: none;
          list-style: none;
          background-color: $white-color;
          padding: 10px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 10px;
          top: 98%;
          opacity: 0;
          pointer-events: none;
          li {
            padding: 7px 5px;
            font-size: 16px;
            cursor: pointer;
            font-weight: 200;
            color: $letter-color;
            &:hover {
              color: $hilight-color;
            }
          }
        }
      }
      .currnet_userinfo_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: 2px solid $hilight-color;
          object-fit: cover;
        }

        .logout_Wrapper {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          padding: 10px;
          background-color: $white-color;
          position: absolute;
          top: 100%;
          right: 0;
          width: 300px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          opacity: 0;
          pointer-events: none;
          &.active {
            opacity: 1;
            top: 110%;
            pointer-events: visible;
            transition: 400ms ease;
          }

          .logout_userInfo_wrapper {
            display: flex;
            gap: 10px;
            align-items: center;

            img {
              width: 55px;
              height: 55px;
              object-fit: cover;
            }
            .logout_userInfo_right {
              :nth-child(1) {
                font-weight: 700;
                font-size: 16px;
              }
              :nth-child(2) {
                font-weight: 500;
                font-size: 14px;
              }
            }
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(242, 242, 242, 1);
            padding-bottom: 10px;
          }

          .link_wrapper {
            margin: 10px 0px;
            display: flex;
            align-items: center;
            gap: 15px;
            font-weight: 500;
            font-size: 15px;

            &:hover {
              color: $hilight-color;
            }
            .link_wrapper_icon {
              height: 25px;
              width: 25px;
            }
          }
        }
      }
      .navbar_hamburgerIcon {
        width: 40px;
        height: 40px;
        color: $hilight-color;
        cursor: pointer;
        display: none;
        z-index: 999;
        &:hover {
          color: red;
        }
      }
      .navbar_signUpBtn {
        padding: 10px 20px;
        border-radius: 29px;
        background-color: $hilight-color;
        color: $white-color;
        border: none;
        cursor: pointer;
      }
      .navbar_searchIcon {
        width: 30px;
        height: 30px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .navbar_outside_wrapper {
    .navbar_wrapper {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar_outside_wrapper {
    .navbar_wrapper {
      margin: $smallScreen_margin;
      flex-direction: row;
      justify-content: space-between;
      .navbar_right_wrapper {
        .navbar_hamburgerIcon {
          display: block;
        }
        .nav_link,
        .navbar_signUpBtn,
        .navbar_searchIcon {
          display: none;
        }
      }
    }
  }
}
