@import "../../scssVariables.scss";

.searchResultRecipes_wrapper {
  padding: 30px 0px;
  min-height: calc(100vh - 135px);
  margin: $app-margin;

  .searchResult_wrapper {
    display: flex;
    .hide_types_tag {
      display: none;
    }
    .searchResult_left {
      min-height: calc(100vh - 185px);
      flex: 0.7;
      border-right: 1px solid rgba(242, 242, 242, 1);
      h3 {
        font-size: 25px;
      }

      .searched_recipes_wrapper {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
      }
    }
    .searchResult_right {
      padding: 20px;
      flex: 0.3;
      position: -webkit-sticky; /* for Safari */
      position: sticky;
      top: 130px;
      align-self: flex-start; /* <-- this is the fix */

      h3 {
        font-size: 25px;
      }
      .food_types_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        p {
          padding: 5px 10px;
          border: 1px solid $hilight-color;
          color: $hilight-color;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 500;
          min-width: 80px;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: $hilight-color;
            color: $white-color;
            border-color: none;
            transform: translateY(-15%);
            transition: 0.3s ease;
          }

          &.active {
            background-color: $hilight-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .searchResultRecipes_wrapper {
    margin: $smallScreen_margin;
  }
}

@media screen and (max-width: 850px) {
  .searchResultRecipes_wrapper {
    .searchResult_wrapper {
      flex-direction: column;
      .hide_types_tag {
        display: block;
        flex: 0.3;
        position: -webkit-sticky; /* for Safari */
        position: sticky;
        top: 130px;
        align-self: flex-start; /* <-- this is the fix */
        margin-bottom: 10px;
        h3 {
          font-size: 25px;
          margin-bottom: 10px;
        }
        .food_types_wrapper {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;

          p {
            padding: 5px 10px;
            border: 1px solid $hilight-color;
            color: $hilight-color;
            border-radius: 10px;
            font-size: 15px;
            font-weight: 500;
            min-width: 80px;
            text-align: center;
            cursor: pointer;

            &:hover {
              background-color: $hilight-color;
              color: $white-color;
              border-color: none;
              transform: translateY(-15%);
              transition: 0.3s ease;
            }

            &.active {
              background-color: $hilight-color;
              color: $white-color;
            }
          }
        }
      }
      .searchResult_right {
        display: none;
      }
      .searchResult_left {
        border-top: 1px solid rgba(242, 242, 242, 1);
        border-right: none;
        margin-top: 20px;

        h3 {
          padding-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .searchResultRecipes_wrapper {
    .searchResult_wrapper {
      .searchResult_left {
        min-height: calc(100vh - 185px);
        flex: 0.7;

        h3 {
          font-size: 25px;
        }

        .searched_recipes_wrapper {
          padding: 10px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }
    }
  }
}
