$hilight-color: #33658a;
$white-color: #ffffff;
$black-color: #171a20;
$app-margin: 0px 180px;
$smallScreen_margin: 0px 50px;
$heading_size_wide_screen: 30px;
$letter_size_wide_screen: 18px;

$header_color: #171a20;
$letter_color: #64666a;
